header{
    position:absolute;
    top:0;
    width:100%;
    text-align:center;
    #border: 1px solid pink;
}
#menu{
	overflow:hidden;
    display: inline-block;
	margin:0px auto;
	text-align:center;
	margin-bottom:20px;
    #border: 1px solid pink;
}
[class^="butt"]{
	border:0px solid black;
	margin-top:5px;
	text-indent:0;
	display:inline-block;
	font-family:titi;
	font-size:20px;
	font-style:italic;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
    cursor:pointer;
	color:#fff;
	text-shadow: none;
    
    border-bottom:2px solid red;
    
    -moz-box-shadow:inset 1px -3px 0px 0px yellow;
	-webkit-box-shadow:inset 3px -1px 0px 0px yellow;
	box-shadow:inset 1px -3px 0px 0px yellow;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #383538) );
	background:-moz-linear-gradient( center top, #000000 5%, #383538 100% );
	background-color:#383538;
	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	transition: 100ms linear 0s;
}
[class^="butt"]:hover {
	color:yellow;	
	border-bottom: none;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px yellow;

	-moz-box-shadow:inset 1px -1px 0px 0px #fff;
	-webkit-box-shadow:inset 1px -1px 0px 0px #fff;
	box-shadow:inset 1px -1px 0px 0px #fff;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #383538), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #383538 5%, #000000 100% );		
	background-color:#000000;
}
[class^="butt"]:active {
	top:1px;
	color:red;
	text-shadow: -1px 1px 8px darkred, 1px -1px 8px red;	
    
	-moz-box-shadow:inset 1px -3px 0px 0px red;
	-webkit-box-shadow:inset 1px -3px 0px 0px red;
	box-shadow:inset 1px -3px 0px 0px red;
}