/*
@keyframes animatedBackground {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
*/
/*
@keyframes aniPlanets {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
.planets {
    #border: 1px solid red;
    width:500px;
    height:500px;
    border-radius:50%;
    background-image: url(../images/earth_day5.jpg);
    background-size: auto 100%;
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: aniPlanets 20s linear infinite ;
    
    -webkit-box-shadow: inset 0px 0px 54px 4px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 54px 4px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 54px 4px rgba(0,0,0,1);
    
    margin: 0 auto;
    margin-top: 5em;
}
*/
/*
@keyframes obrot {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#sun{
    animation-name: obrot;
    animation-duration: 10s;    
    transition-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}
*/
@-webkit-keyframes orbit-me {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(15.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(15.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-webkit-keyframes orbit-ve {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(20.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(20.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-webkit-keyframes orbit-ea {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(25.25em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(25.25em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-webkit-keyframes orbit-ma {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(30em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(30em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-webkit-keyframes orbit-ju {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(40em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(40em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-webkit-keyframes orbit-sa {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(50em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(50em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-webkit-keyframes orbit-ur {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-webkit-keyframes orbit-ne {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-me {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(15.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(15.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-ve {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(20.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(20.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-ea {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(25.25em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(25.25em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-ma {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(30em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(30em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-ju {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(40em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(40em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-sa {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(50em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(50em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-ur {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@-moz-keyframes orbit-ne {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-me {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(15.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(15.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ve {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(20.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(20.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ea {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(25.25em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(25.25em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ma {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(30em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(30em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ju {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(40em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(40em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-sa {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(50em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(50em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ur {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ne {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
.center, 
.satellite{
    display:inline-block;
    border-radius:50%;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.center {
    position: relative;
	left: 0;
    perspective: 57.5em;/*size satellite planet x*/
    perspective-origin-x: 300px;/*?*/
	transform: translateZ(1em);/*z-index transform*/
	transform-style: preserve-3d;/*z-index transform in 3d*/
    width:20em;
    height:20em;
}
.satellite {
	position: absolute;
    top: 10em;
    z-index: -1;
	transform: rotate3d(0, 1, 0, -93deg) translateX(100em);/*?*/
    visibility: hidden;
}
.zoom{
    display:inline-block;
    border-radius:50%;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:middle; 
    position: absolute;
}
#sun{  
    width:20em;
    height:20em;
    background-image: url(../images/sun.png);
}
#mercury{
    width:0.7em;
    height:0.7em;    
    background-image: url(../images/mercury.gif);
    left:5.5em;
    -webkit-animation: orbit-me 4s linear infinite -2s running;
    -moz-animation: orbit-me 4s linear infinite -2s running;
    animation: orbit-me 4s linear infinite -2s running;
}
#venus{
    width:0.9em;
    height:0.9em;    
    background-image: url(../images/venus.gif);
    left:4em;
    -webkit-animation: orbit-ve 6s linear infinite 0s running;
    -moz-animation: orbit-ve 6s linear infinite 0s running;
    animation: orbit-ve 6s linear infinite 0s running;
}
#earth{
    width:1.4em;
    height:1.4em;    
    background-image: url(../images/earth.gif);
    left:8em;
    -webkit-animation: orbit-ea 8s linear infinite -4s running;
    -moz-animation: orbit-ea 8s linear infinite -4s running;
    animation: orbit-ea 8s linear infinite -4s running;
}
#mars{
    width:1.8em;
    height:1.8em; 
    background-image: url(../images/mars.gif);
    left:9.5em;
    -webkit-animation: orbit-ma 10s linear infinite -3s running;
    -moz-animation: orbit-ma 10s linear infinite -3s running;
    animation: orbit-ma 10s linear infinite -3s running;
}
#jupiter{
    width:4em;
    height:4em;    
    background-image: url(../images/jupiter.gif);
    left:8em;
    -webkit-animation: orbit-ju 12s linear infinite 0ms running;
    -moz-animation: orbit-ju 12s linear infinite 0ms running;
    animation: orbit-ju 12s linear infinite 0ms running;
}
#saturn{
    width:9.5em;
    height:5.2em;    
    background-image: url(../images/saturn.gif);
    background-size: auto 80%;
    left:8em;
    -webkit-animation: orbit-sa 14s linear infinite 3000ms running;
    -moz-animation: orbit-sa 14s linear infinite 3000ms running;
    animation: orbit-sa 14s linear infinite 3000ms running;
}
#uranus{
    width:1.5em;
    height:1.5em;    
    background-image: url(../images/uranus.gif);
    left:8em;
    -webkit-animation: orbit-ur 16s linear infinite 5000ms running;
    -moz-animation: orbit-ur 16s linear infinite 5000ms running;
    animation: orbit-ur 16s linear infinite 5000ms running;
}
#neptune{
    width:1em;
    height:1em;    
    background-image: url(../images/neptune.gif);
    left:8em;
    -webkit-animation: orbit-ne 18s linear infinite 7000ms running;
    -moz-animation: orbit-ne 18s linear infinite 7000ms running;
    animation: orbit-ne 18s linear infinite 7000ms running;
}
.paused{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
.running{
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}