/*
@keyframes animatedBackground {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
*/
/*
@keyframes aniPlanets {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
.planets {
    #border: 1px solid red;
    width:500px;
    height:500px;
    border-radius:50%;
    background-image: url(../images/earth_day5.jpg);
    background-size: auto 100%;
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: aniPlanets 20s linear infinite ;
    
    -webkit-box-shadow: inset 0px 0px 54px 4px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 54px 4px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 54px 4px rgba(0,0,0,1);
    
    margin: 0 auto;
    margin-top: 5em;
}
*/
.center, 
.satellite{
    display:inline-block;
    border-radius:50%;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:middle; 
}
.center {
    position: relative;
	left: 40%;
    perspective: 57.5em;/*size satellite planet x*/
    perspective-origin-x: 300px;/*?*/
	transform: translateZ(1em);/*z-index transform*/
	transform-style: preserve-3d;/*z-index transform in 3d*/
}
.satellite {
	position: absolute;
    top: 10em;
    z-index: -1;
	transform: rotate3d(0, 1, 0, -93deg) translateX(100em);/*?*/
    visibility: hidden;
}

@keyframes orbit-me {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(15.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(15.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ve {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(20.5em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(20.5em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ea {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(25.25em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(25.25em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ma {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(30em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(30em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ju {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(40em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(40em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-sa {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(50em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(50em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ur {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
@keyframes orbit-ne {
    0% {transform: rotate3d(0, 1, 0, 0deg) translateX(60em) rotate3d(0, 1, 0, 0deg); visibility: visible;}
    100% {transform: rotate3d(0, 1, 0, 360deg) translateX(60em) rotate3d(0, 1, 0, -360deg); visibility: visible;}
}
#sun{
    width:20em;
    height:20em;
    background-image: url(../images/sun.png);
}
#mercury{
    width:1em;
    height:1em;    
    background-image: url(../images/mercury.gif);
    left:12em;
    animation: orbit-me 4s infinite linear 0ms;
}
#venus{
    width:1.6em;
    height:1.6em;    
    background-image: url(../images/venus.gif);
    left:10em;
    animation: orbit-ve 6s infinite linear 0ms;
}
#earth{
    width:1.6em;
    height:1.6em;    
    background-image: url(../images/earth.gif);
    left:8em;
    animation: orbit-ea 8s infinite linear 0ms; /*ease-in-out*/
}
#mars{
    width:1.3em;
    height:1.3em; 
    background-image: url(../images/mars.gif);
    left:9.5em;
    animation: orbit-ma 10s infinite linear 0ms;
}
#jupiter{
    width:4em;
    height:4em;    
    background-image: url(../images/jupiter.gif);
    left:8em;
    animation: orbit-ju 12s infinite linear 0ms;
}
#saturn{
    width:9.5em;
    height:5.2em;    
    background-image: url(../images/saturn.gif);
    background-size: auto 80%;
    left:8em;
    animation: orbit-sa 14s infinite linear 0ms;
}
#uranus{
    width:2em;
    height:2em;    
    background-image: url(../images/uranus.gif);
    left:8em;
    animation: orbit-ur 16s infinite linear 0ms;
}
#neptune{
    width:2em;
    height:2em;    
    background-image: url(../images/neptune.gif);
    left:8em;
    animation: orbit-ne 18s infinite linear 0ms;
}
/*
@keyframes obrot {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#sun{
    animation-name: obrot;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
}
*/