@font-face {
	font-family:"moja";
	src: url(../fonts/KGFaithHopeAndLove.ttf);
}
body {
 	background-color: black;
    font-size:16px;
    color:white;
}
#place-holder{
	width:1000px;
	min-height:600px;
	margin:0 auto;
}
#relative-holder{
	position:relative;
	top:0px;
	left:0px;
}
footer{
    position:fixed;
    bottom:0px;
    left:0px;
}