#-----------------------------------
#Nazwę „szpadlic.bdl.pl” zastąp nazwą swojej domeny.
#Nazwę „omni” zastąp nazwą swojego podkatalogu.
#Nazwę pliku „index.php” zastąp nazwą pliku startowego swojej witryny (np. index.php)

RewriteEngine on

RewriteCond %{HTTP_HOST} ^(www.)?szpadlic.bdl.pl$ [NC]

RewriteCond %{REQUEST_URI} !^/omnie/
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /omnie/$1

RewriteCond %{HTTP_HOST} ^(www.)?szpadlic.bdl.pl$ [NC]
RewriteRule ^(/)?$ omnie/index.php [L]
#--------------------------------------